<li>
    <hr />
    <span><%= message.user %></span> <br />

    <span><%= message.added %></span>

    <p><%= message.text %></p>
    <button><a href="/messages/<%= id %>">Details</a></button>
    <hr />
</li>
